<%= simple_form_for [:admin, @definition] do |f| %>
  <%= render 'shared/errors', errored_on: @definition %>
  <%= f.input :name, required: true %>
  <%= f.input :class_name, required: true, hint: 'Can only contain letters: TestDefinitionClass' %>
  <%= f.input :active %>

  <div id="vgl_header">
    <strong>VGL Header</strong>
    <%= content_tag :div, @definition.vgl_header, class: 'editor editor-small' %>
    <%= f.hidden_field :vgl_header %>
  </div>

  <div id="vgl_content">
    <strong>VGL Content</strong>
    <%= content_tag :div, @definition.vgl_content, class: 'editor editor-large' %>
    <%= f.hidden_field :vgl_content %>
  </div>

  <div id="vgl_methods">
    <strong>VGL Methods</strong>
    <%= content_tag :div, @definition.vgl_methods, class: 'editor editor-small' %>
    <%= f.hidden_field :vgl_methods %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_definitions_path, class: 'btn btn-default' %>
  </div>
<% end %>
