<h1>FindTheBest Locations</h1>

<div class="clearfix">
  <div class="pull-left">
    <%= link_to 'New Location', new_admin_find_the_best_location_path, class: 'btn btn-primary' %>
  </div>

  <div class="pull-right">
    <%= simple_form_for :csv, url: import_admin_find_the_best_locations_path, multipart: true do |f| %>
      <%= f.input :file, as: :file %>
      <%= f.button :submit, 'Import', class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>
<br/>

<table class="table">
  <tr>
    <th>FTB ID</th>
    <th>County</th>
    <th>Created</th>
    <th colspan="2">Updated</th>
  </tr>

  <% @find_the_best_locations.each do |find_the_best_location| %>
    <tr>
      <td><%= find_the_best_location.ftb_id %></td>
      <td><%= find_the_best_location.county %></td>
      <td><%= find_the_best_location.created_at %></td>
      <td><%= find_the_best_location.updated_at %></td>
      <td class="actions">
        <%= link_to [:admin, find_the_best_location] do %>
          <i class="fa fa-eye" title="Show"></i>
        <% end %>

        <%= link_to [:edit, :admin, find_the_best_location] do %>
          <i class="fa fa-pencil" title="Edit"></i>
        <% end %>

        <%= link_to [:admin, find_the_best_location], method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o" title="Delete"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @find_the_best_locations %>
