<%= simple_form_for [:admin, @scene, @scene_attribute] do |f| %>
  <%= render 'shared/errors', errored_on: @scene_attribute %>
  <%= f.input :name %>
  <%= f.input :display_name %>
  <%= f.association :scene_attribute_type, prompt: 'Select a scene attribute type' %>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', [:admin, @scene, SceneAttribute], class: 'btn btn-default' %>
  </div>
<% end %>
