<h1>Scene Collections</h1>

<p>
  <%= link_to 'New Scene Collection', new_admin_scene_collection_path, class: 'btn btn-primary' %>
</p>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Created</th>
    <th colspan="2">Updated</th>
  </tr>

  <% @scene_collections.each do |scene_collection| %>
    <tr>
      <td><%= scene_collection.id %></td>
      <td><%= scene_collection.created_at.to_s(:full) %></td>
      <td><%= scene_collection.updated_at.to_s(:full) %></td>
      <td class="actions">
        <%= link_to [:edit, :admin, scene_collection] do %>
          <i class="fa fa-pencil" title="Edit"></i>
        <% end %>

        <%= link_to [:admin, scene_collection], method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o" title="Delete"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @scene_collections %>
