<%= simple_form_for [:admin, @scene_attribute_type] do |f| %>
  <%= render 'shared/errors', errored_on: @scene_attribute_type %>
  <%= f.input :name, required: true %>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_scene_attribute_types_path, class: 'btn btn-default' %>
  </div>
<% end %>
