<div id="nav">
  <%= link_to "", :class => "nav-logo" do%>
    <%= image_tag("ht-logo.png", class: "ht-logo-mark") %>
  <% end %>
  <ul>
    <li>
      <%= link_to 'Login' %>
    </li>
    <li>
      <%= link_to 'Create' %>
    </li>
    <li>
      <%= link_to 'Contact' %>
    </li>
    <li>
      <%= link_to 'Enterprise' %>
    </li>
  </ul>
</div>