<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? content_for(:title) : 'HouzTrendz' %></title>
  <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
  <%= stylesheet_link_tag 'embed', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//vjs.zencdn.net/4.12/video.js"></script>
  <%= javascript_include_tag 'embed', 'data-turbolinks-track' => true %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
  <%= render 'shared/mixpanel' %>
</head>
<body>
<%= yield %>
<script type='text/javascript'>

  videojs("video", function(){
    var myPlayer = this;    // Store the video object

    if(typeof mixpanel != 'undefined') {
      mixpanel.register({
        "Video Type": "houztrendz", 
        "houztrendz_id": '<%= @find_the_best_location.ftb_id %>',
        "county": '<%= @find_the_best_location.county %>'
      })

      mixpanel.track("Played video");
      mixpanel.track("Paused video", {"progress": parseInt((this.currentTime() / this.duration())*100) });
      mixpanel.track("Ended video");
      mixpanel.track("Seeked video", {"seek_to_second": parseInt(this.currentTime())});
    }
  });

</script>
</body>
</html>
